<h1 class="page-header">Translator</h1>

<form [formGroup]="translateForm">
  <div class="form-group">
    <label class="center-block">Text:
      <input class="form-control" formControlName="text">
    </label>
    <label class="center-block">Target:
      <select class="form-control" formControlName="target">
        <option *ngFor="let key of keys" [value]="targets[key]">{{key}}</option>
      </select>
    </label>
    <button type="submit" (click)="translate()">Translate</button>
    <p>Translation:<textarea class="center-block" formControlName="time" value="{{translations | async}}"></textarea></p>
    <textarea class="center-block" formControlName="time" value="{{time | async}}"></textarea>
  </div>
</form>
<p>Form value: {{ translateForm.value | json }}</p>
<p>Form status: {{ translateForm.status | json }}</p>
